@import "../css/bootstrap.css";
@import "../css/datta-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

@font-face {
	font-family: "Gilroy";
	src: url("../feather/fonts/GEB.otf");
	font-weight: 600;
	/* iOS 4.1- */
}

@font-face {
	font-family: "Fira Sans";
	src: url("../feather/fonts/FIRA_M.ttf") format("truetype");
	font-weight: 600;
	/* iOS 4.1- */
}
@font-face {
	font-family: "Fira Sans";
	src: url("../feather/fonts/FIRA_R.ttf") format("truetype");
	font-weight: 400;
	/* iOS 4.1- */
}

@font-face {
	font-family: "Nunito", sans-serif;
	src: url("../feather/fonts/NR.ttf") format("truetype");
	font-weight: 400;
	/* iOS 4.1- */
}
@font-face {
	font-family: "Nunito", sans-serif;
	src: url("../feather/fonts/NL.ttf") format("truetype");
	font-weight: 300;
	/* iOS 4.1- */
}

@font-face {
	font-family: "Gilroy";
	src: url("../feather/fonts/GL.otf");
	font-weight: 400;
	/* iOS 4.1- */
}

.font-weight-bold {
	font-weight: 600 !important;
}
// General theme contents
@import "variables";
@import "general";
@import "generic";
@import "mixins/function";

// important Element
@import "./menu/menu-lite";

// Theme Element
@import "theme-elements/form";
@import "theme-elements/radiobox-checkbox";
@import "theme-elements/labels-badges";
@import "theme-elements/data-tables";
@import "theme-elements/authentication";
@import "theme-elements/button";
@import "theme-elements/alert";
@import "theme-elements/breadcrumb-pagination";
@import "theme-elements/progress";
@import "theme-elements/tooltip";
@import "theme-elements/popover";
@import "theme-elements/nav";
@import "theme-elements/modal";

// Other
@import "other/chat";
@import "other/prism";
@import "other/Switches";

@import "other/chart";
@import "other/icon-lauouts";

.pcoded-header .dropdown .dropdown-toggle:after {
	content: "\e842";
	font-family: feather;
	font-size: 15px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
}

.pcoded-header .btn:after {
	right: -12px !important;
}

.dropdown-toggle:after {
	display: none !important;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.cursor-pointer {
	cursor: pointer;
}

.btn-mui {
	background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;
}

.rbc-event {
	z-index: 999 !important;
}

.btn-dark {
	background: $dark-color !important;
	color: #fff !important;
}

.rbc-date-cell > a {
	pointer-events: none;
}

.rbc-event-content {
	font-family: "Nunito", sans-serif;
}

.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:first-child {
	left: 6px;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:last-child {
	right: 6px;
}

.MuiTableCell-root {
	padding: 16px !important;
}

.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor .rbc-addons-dnd-resize-ew-icon {
	display: none;
	border-left: 4px solid;
	margin-top: auto;
	border-radius: 14px;
	margin-bottom: auto;
	height: 18px;
	cursor: ew-resize;
}
.day-prop-hover:hover {
	background: #eaf6ff;
	cursor: pointer;
	border: 1px solid rgba($color: #4e575d, $alpha: 0.3);
}

.text-purple {
	color: $purple-color !important;
}

.sidebar-items-item {
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.serial-number {
	font-size: 10px;
	font-weight: 600;
	padding: 25px 20px 5px;
	text-transform: uppercase;
	position: relative;
}

.MuiIconButton-root {
	outline: none !important;
}

.side-inventory {
	height: 100vh !important;
}

.bg-purple-gradient {
	background: $theme-color2;
	color: #fff;
}

.bg-sidebar {
	display: block !important;
	z-index: 1020 !important;
	// position: fixed !important;
	transition: all 0.3s ease-in-out !important;
	width: 30% !important;
	height: 100vh !important;
	padding: 20px 0px;
	overflow: auto;
	// top: 0 !important;
	background: #4e575d !important;
	color: white;
	box-shadow: none !important;

	ul {
		margin: 0px;
		padding: 0px 20px;
		list-style: none;

		.nav-link {
			font-family: "Fira Sans";
			font-weight: 400;
			color: #a9b8d0 !important;
		}
		.active-itm {
			color: #1dc4e9 !important;
		}

		li > .item {
			text-align: left;
			padding: 7px 0px;
			margin: 5px 0 0;
			list-style: none;
			cursor: pointer;
			display: block;
			border-radius: 0;
			position: relative;

			& .icon {
				margin-right: 14px;
				svg {
					height: 18px;
					width: 18px;
					vertical-align: text-top;
				}
			}

			& .mtext {
				top: 11px;
				width: 100%;
			}
		}
		li > span {
			&.active,
			&:focus,
			&:hover {
				color: #1dc4e9;
			}

			.pcoded-submenu > li {
				&.active,
				&:focus,
				&:hover {
					> span {
						&:before {
							background: #1dc4e9;
						}
					}
				}
			}
		}
	}
}

.sidebar-top {
	font-size: 16px !important;
	color: white !important;
	font-weight: 600;
	padding: 0px 20px 10px 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	position: relative;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.detail-view {
	width: 70%;
	max-height: 100vh;
	overflow: auto;
}

.head {
	font-size: 12px;
	font-weight: 600;
	padding: 10px 20px 10px 20px;
	text-transform: uppercase;
	position: relative;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	font-family: "Fira Sans";
	font-weight: 400;
	letter-spacing: 1px;
	color: #a9b8d0 !important;
}

.active-head {
	color: white !important;
}

.geb {
	font-family: "Gilroy" !important;
	font-weight: 600 !important;
}

.nn {
	font-family: "Nunito", sans-serif !important;
	font-weight: 600 !important;
}

.nn-800 {
	font-family: "Nunito", sans-serif !important;
	font-weight: 800 !important;
}

.pp-600 {
	font-family: "Poppins", sans-serif !important;
	font-weight: 600 !important;
}

.gl {
	font-family: "Gilroy";
	font-weight: 600;
}

.fira {
	font-family: "Fira Sans", sans-serif;
	font-weight: 400;
}

.fs-24 {
	font-size: 24px !important;
}

.fs-22 {
	font-size: 22px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-16 {
	font-size: 16px;
}

.ls-1 {
	letter-spacing: 1px;
}

.ls-2 {
	letter-spacing: 2px;
}

.margin-20px {
	margin: 0 45px;
	// margin-left: 45px;
}

.card-ivntry {
	width: 100%;
	height: 120px;
	background: white;
	overflow: hidden;
	border-radius: 8px;
	border: 1px solid rgba($color: #748892, $alpha: 0.6);

	.qr-area {
		width: 30%;
		padding-right: 10px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		img {
			height: 100px;
			width: 100px;
			object-fit: contain;
		}
	}
}

.details {
	padding: 10px;
	width: 70%;

	.f-row {
		margin: 0px;
		height: 20px;
		align-items: center;
	}
}

.fs-18 {
	font-size: 18px;
}

.b-bgx {
	background: rgba($color: $secondary-color, $alpha: 0.5);
	color: white !important;
	border-radius: 10px;
	min-width: 120px;
}

.h-60 {
	height: 40px;
}

.fix-h-85 {
	height: 83vh;
}

.item-area:hover {
	::-webkit-scrollbar {
		display: block;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba($color: #555, $alpha: 0.3);
	border-radius: 8px;
	transition: 0.1s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.nav-barx {
	&:not(:hover) {
		#nav-link-mtext {
			-webkit-transform: rotateY(-90deg);
			transform: rotateY(-90deg);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			opacity: 0;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			font-size: 17px;
		}
	}
	.fs-17 {
		font-size: 17px;
	}
}

.pace-loader {
	height: 5px;
	position: absolute;
	z-index: 1050;
	top: 0;
	background: $purple-color;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: 1s ease-in;
}

.del-fab {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.popover-list-head {
	height: 40px;
	width: 200px;
	display: flex;
	align-items: center;
}
.popover-list-items {
	height: 40px;
	width: 200px;
	display: flex;
	align-items: center;

	&:hover {
		background: rgba($color: $secondary-color, $alpha: 0.2);
	}
}

.search-inv {
	.MuiOutlinedInput-adornedEnd {
		color: #fff;
	}
}
